<div class="overlay" *ngIf="isLoading">
    <div class="spinner-wrapper">
      <app-spinner></app-spinner>
    </div>
  </div>
<div class="container">
  <a class="button" routerLink="/country-wise-data">Get Global Data</a>
  <div class="row">
    <div class="box">
      <div class="box-title">
        <h3>Corona Virus Total Cases</h3>
      </div>
      <div class="box-detail">
        <p>{{ covidStat[0].cases.total | number }}</p>
      </div>
    </div>
    <div class="box">
      <div class="box-title">
        <h3>Death</h3>
      </div>
      <div class="box-detail">
        <p class="death">{{ covidStat[0].deaths.total | number }}</p>
      </div>
    </div>
    <div class="box">
      <div class="box-title">
        <h3>Recovered</h3>
      </div>
      <div class="box-detail">
        <p class="recovered">{{ covidStat[0].cases.recovered | number }}</p>
      </div>
    </div>
  <div class="box">
    <div class="box-title">
      <h3>Active Cases</h3>
    </div>
    <div class="box-detail">
      <p class="active">{{ covidStat[0].cases.active | number }}</p>
      <div class="extra-details">
        <h4>Mild Condition : <span class="closed">{{ covidStat[0].cases.active - covidStat[0].cases.critical| number }}</span></h4>
        <h4>Serious / Critical : <span class="death">{{ covidStat[0].cases.critical | number }}</span></h4>
      </div>
    </div>
  </div>
  <div class="box">
    <div class="box-title">
      <h3>Closed Cases</h3>
    </div>
    <div class="box-detail">
      <p class="closed">
        {{ covidStat[0].cases.recovered + covidStat[0].deaths.total | number }}
      </p>
      <div class="extra-details">
          <h4>Recovered / Discharged : <span class="recovered">{{ covidStat[0].cases.recovered | number }}</span></h4>
          <h4>Deaths : <span class="death">{{ covidStat[0].deaths.total | number }}</span></h4>
        </div>
    </div>
  </div>

</div>
</div>
